.divider::after, .divider::before{
    content: "";
    flex: 1;
    height: 1px;
    background: rgb(252, 50, 50);
}

.h-custom{
    height: calc(100% - 73px);
}

@media(max-width: 450px){
    .h-custom{
        height: 100%;
    }
}

.tituloLogin{
    font-size: 30px;
}

.alineacionLogo{
    text-align: center;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }