.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.fondoHeader {
    /* background-color: rgb(101, 93, 218); */
    background: rgb(118,218,157);
background: linear-gradient(90deg, rgba(118,218,157,1) 14%, rgba(0,212,255,1) 100%);
    padding: 10px;
}




.top-bar-margen {
    margin-top: -33px;
}

body {
    background-color: #0093E9;

}

.menuOpciones {
    background: #ffffff;

}

.menu_opcion {
    color: rgb(202, 202, 202) !important;
    
}